body {
    background-image: url("./assets/pngs/image2.png");
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
}