body {
    background-image: url("./assets/pngs/image2.png");
    width: 100vw;
    height: 100vh;
    /* mix-blend-mode: soft-light; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

/* .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .button-container {
        display: flex;
        gap: 30px;
        .MuiButtonBase-root {
            background-color: #6C27FF;
            padding: 15px;
            color: #FFFFFF;
            font-weight: bolder;
        }
    }
} */